.search-fild {
  

  @media (min-width: 992px) {
    display: inline-block;
    height: max-content;
    width: 500px;
  }

 > form {
    display: flex;
    justify-content: center;
    width: 100%;
    .search {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #cacaca;
      width: 70%;
      font-size: 16px;
    }

    .search-button {
      margin-left: 10px;
      padding: 10px;
      border: none;
      background-color: #2732c2;
      color: #ffffff;
      border-radius: 12px;
      font-weight: bold;
      cursor: pointer;
      font-size: 16px;
    }
  }
}
