.slick-carousel {
    .carousel-title {
        margin-bottom: 30px;

        .carousel-title {
            padding-bottom: 10px;
            font-family: Inter, Arial, sans-serif;
            font-size: 20px;
            border-bottom: 1px solid #000000;
        }
    }
}